@charset "utf-8";
@import "../../../lib/fragment/yo-search.scss";
// 调用本文件时载入search基础构造
.allHero{
	@include flexbox();
	@include flex-direction(column);
	height: 100%;
	width: 100%;
	background: #fff;
	.searchBox{
		z-index: 999;
		div{
			form{
				background: #fff;
			  label{
			  		width:100%;
			  		border: 1px solid #E1E1E1;
			  		border-radius: .04rem;
			  	span{
			  		width:10%;
			  	}
			  	input{
			  		width:93%;
			  		border: none;
			  	}
			  }
			}
		}
	}
	.title{
		@include flexbox();
		height: .24rem;
		width: 100%;
		padding: 8px;
		div{
			@include flexbox();
			height: .24rem;
			width: 100%;
			background: #CECECE;
			@include justify-content(center);
			@include align-items(center);
			font-size: 10px;
			color: #fff;
			border-radius: 3px;
		}
	}
	#wrapper{
		@include flexbox();
		.allHeroList{
			@include flexbox();
	        flex-wrap: wrap;
	        align-content: flex-start;
	        width: 100%;
	        height: 100%;
	        margin:0 12px 20px 12px;
			li{
				width: 50%;
	            padding: 3px;
	            @include flexbox();
	            @include align-items(center);
				img{
					height: .44rem;
				}
				div{
					margin-left: 4px;
					@include flexbox();
					@include flex-direction(column);
					span{
						font-size: .1rem;
					}
					.name{
						font-weight: bold;
					}
					.nick{
						color: #919191;
					}
					.tag{
						color: #4B8CC4;
					}
				}
			}
		}
	}
}